.projects-container {
  margin: 0;
  margin-top: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects-container-search-c1 {
  color: rgb(52, 52, 52);
  margin: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-container-search-c1 button {
}

.projects-container-search-c2 {
  display: flex;
  align-items: center;
  border: 3px solid white;
  background-color: white;
  border-radius: 0.25em;
  width: 85%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  color: rgb(52, 52, 52);
}

.search-icon {
  margin-right: 0.5em;
  margin-left: 1em;
}

.projects-container-search-c1 input {
  font-size: 1rem;
  margin: 0.5em;
  border: none;
  background-color: white;
  color: rgb(52, 52, 52);
  width: 75%;
}

.projects-container-search-c1 input::placeholder {
  color: rgb(52, 52, 52);
}

.projects-container-search-c1 input:focus {
  outline: none;
}

.projects-container-search-c1 button {
  font-size: 1rem;
}

.projects-container-cards-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.projects-container-card-c1 {
  border-radius: 1em;
  overflow: hidden;
  border: 6px solid #4267b2;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  margin: 1em;
  padding: 1em;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.projects-container-card-c2 {
  margin: 0;
}

.projects-container-card-c2 h1 {
  word-wrap: break-word;
  color: #4267b2;
  font-size: 2.5rem;
}

.projects-container-card-c3 ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}

.projects-container-card-c3 li::before {
  content: '>';
  position: absolute;
  left: 0;
  color: #4267b2;
  font-weight: bold;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.5rem;
}

.projects-container-card-c3 {
  display: flex;
  flex-direction: column;
  margin: 1em;
  font-size: 0.85rem;
}

.projects-container-card-c3.hidden {
  margin: 0;
  margin-top: 1em;
}

.projects-container-card-c3 li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  position: relative;
  padding-left: 2em;
  margin-bottom: 1em;
  padding-right: 0.5em;
}

.projects-container-card-c3 li .task-description {
  max-width: calc(100% - 50px);
  word-wrap: break-word;
}

.projects-container-card-c4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.projects-container-card-c4 h2 {
  color: rgb(52, 52, 52);
  font-size: 1.5rem;
}

.projects-container-card-c4 button {
  border: 4px solid #4267b2;
  border-radius: 0.25em;
  color: white;
  background-color: #4267b2;
  margin-left: 1em;
}

@media (min-width: 600px) {
  .projects-container,
  .projects-container-cards-group {
    margin: 2em;
  }

  .projects-container-cards-group {
    margin-top: 1em;
  }

  .projects-container {
    margin-top: 5em;
  }

  .projects-container-card-c1 {
    width: 30em;
  }
}
